{% load static %}


/* fixing browser-related issues */

:focus {
    outline: none !important;
}


/* common initial settings */

body {    
    background-attachment: fixed;    
    min-height: 100%;    
    background:
    -webkit-linear-gradient(270deg, hsla(200, 52.5%, 15.69%, 1) 0%, hsla(200, 52.5%, 15.69%, 0) 32%),
    -webkit-linear-gradient(212deg, hsla(180, 16.28%, 16.86%, 1) 2%, hsla(180, 16.28%, 16.86%, 0) 65%),
    -webkit-linear-gradient(110deg, hsla(34.51, 100%, 69.85%, 1) 4%, hsla(34.51, 100%, 69.85%, 0) 40%),
    -webkit-linear-gradient(315deg, hsla(209, 50.85%, 23.14%, 1) 10%, hsla(209, 50.85%, 23.14%, 0) 84%),
    -webkit-linear-gradient(205deg, hsla(180, 59.37%, 84.66%, 1) 100%, hsla(180, 59.37%, 84.66%, 0) 100%);
    background:
    linear-gradient(180deg, hsla(200, 52.5%, 15.69%, 1) 0%, hsla(200, 52.5%, 15.69%, 0) 32%),
    linear-gradient(238deg, hsla(180, 16.28%, 16.86%, 1) 2%, hsla(180, 16.28%, 16.86%, 0) 65%),
    linear-gradient(340deg, hsla(34.51, 100%, 69.85%, 1) 4%, hsla(34.51, 100%, 69.85%, 0) 40%),
    linear-gradient(135deg, hsla(209, 50.85%, 23.14%, 1) 10%, hsla(209, 50.85%, 23.14%, 0) 84%),
    linear-gradient(245deg, hsla(180, 59.37%, 84.66%, 1) 100%, hsla(180, 59.37%, 84.66%, 0) 100%);     
}

html{
    height: 100%;
}

* {
    box-sizing: border-box;
}    

.latex {

}


/* animations */

@keyframes loading-fade {
    0% { background-color: white; }
    50% { background-color: #e1e1e1; }
    100% { background-color: white; }
}


/* common reusable helpers */

.loading {
    animation: loading-fade 2s linear 0s infinite;
}

.popup {
    margin-left: 0.5em;
}

.screen-height-filler {
    height: 100vh;
}

.width-filler {
    width: 100%;
}

.flex-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.accurate-flex-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-right-toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.flex-right-toolbar > * {
    margin-left: 1em;
}

/* forces the centering */
.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* forces the centering */
.flex-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.board > .col {
    padding: 0 0.75rem 1.5rem 0.75rem !important;
}

.box {
    padding: 1em;
    height: 13em;

    box-shadow: 0px 0px 10px #a8a8a8;
    border-radius: 3px;
}

.pushed-in {
    padding: 0 1em;
}

.hat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: white !important; */
    max-width: 100%;
}

.hat .col {
    height: 9em;
}

.hat .logo {
    height: 95%;
}

.hat-search {
    height: 3em;
    border-radius: 1.5em;
    overflow: hidden;
}

.hat-search i {
    line-height: 1.9em !important;
}

.text_for_user {
    font-family: sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.abs{
    margin: 0em !important;
}

.footer{
    padding: 0em;
    background-color: #2d353b;
}

.clr{    
    background-color: #2d353b;
}

.pix{
    flex-grow: 1;
}

.date{
    color: #ffab40;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.email{
    text-transform: lowercase !important;
}

.matemhead{
    margin: 0em;
    padding: 0.5em;
    font-family: Roboto; 
    color: black;
    
}

.underpost{
    margin-bottom: 0em !important;
}

.postfile{
    color:#57e1ff !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}